<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDK Medicinas - Nuevo Cliente</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesRegisterCliente.css">
</head>

<body>
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        
        <div class="row justify-content-center w-100">
            <div class="col-md-6 col-lg-4">
                <h3 class="text-center">MDK Medicinas</h3>
                <h4 class="text-center">Nuevo Cliente</h4>
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono:</label>
                        <input type="text" class="form-control" id="telefono">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Agregar</button>
                </form>

            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="controles/controlCliente.js"></script>

</body>

</html>