body {
    background-color: #b0d1e2;
}
.container {
    margin-top: 50px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}
.btn-primary {
    display: block;
    width: 100%;
    background-color: #2f86a6;
    border: none;
}
.btn-primary:hover {
    background-color: #265c75;
}
.form-control {
    margin-bottom: 15px;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}