* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
    font-weight: 400;
    color: black;
    background-color: #B6D0E1;
    height: 100vh;
    overflow: hidden;
    /* Para evitar que se vea algún scroll inesperado */
}

.container-fluid {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.ticket {
    background-color: #2f4154;
    color: white;
    padding: 20px;
    width: 25%;
    /* Abarca 1/4 de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* Asegura que cubre toda la altura de la pantalla */
}

.ticket h5 {
    margin-bottom: 1rem;
}.ticket h5 {
    text-align: center; /* Centra el título */
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Tamaño de fuente más grande */
}

.ticket p {
    text-align: center; /* Centra el nombre del cliente */
    margin-bottom: 1rem;
    font-size: 1.2rem; /* Tamaño de fuente más grande */
}

.ticket .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Sección derecha general */
.products-section-wrapper {
    padding: 20px;
    width: 75%;
    /* Abarca el 75% restante */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products-section-wrapper h2{
    font-weight: 700;
    text-align: center; /* Centra el título */
}
/* Parte superior: 45% con el título */
.products-section-top {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra verticalmente */
    padding: 15px;
    /* Espaciado interno */
}


/* Parte inferior: tabla con scroll, ocupa el 55% */
.products-section-bottom {
    border: 2px solid #90AFC4;
    /* Borde azul oscuro */
    border-radius: 10px;
    background-color: #90AFC4;
    padding: 15px;
    height: 55%;
    /* Altura definida al 55% */
    overflow-y: auto;
    /* Activar scroll vertical */
}

/* Estilo para el scroll */
.products-section-bottom::-webkit-scrollbar {
    width: 12px;
    /* Ancho del scrollbar */
}

.products-section-bottom::-webkit-scrollbar-track {
    background: #5F84A1;
    /* Color de fondo del track */
    border-radius: 10px;
    /* Bordes redondeados */
}

.products-section-bottom::-webkit-scrollbar-thumb {
    background: #1A4568;
    /* Color del thumb */
    border-radius: 10px;
    /* Bordes redondeados */
}


.product {
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.product h6 {
    margin-bottom: 8px;
}

.product .btn {
    margin-top: 1px;
}

.btn-primary {
    background-color: #2f4154;
}